*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat';
  color: #fff;
}
html, body{
  height: 100%;
  width: 100%;
}
#nav{
  height: 145px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 150px;
  gap: 50px;
  position: fixed;
  z-index: 99;
}
#nav img{
  height: 75px;
}
#nav h4{
  text-transform: uppercase;
  font-weight: 500;
}
video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
}
#main{
  position: relative;
  background-color: rgba(0, 0, 0, 0.326 );
}
#page1{
  height: 100vh;
  width: 100vw;
}